@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #211925;
  --foreground: #8117c7;
  --text-primary: #b2a7b8;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
