@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #211925;
  --foreground: #8117c7;
  --text-primary: #e0e3e7;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
