<div class="caret"></div>

<style>
  .caret {
    width: 10px;
    height: 1em;
    background-color: #e9e9f4;
    animation: blink 1s ease-out infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>
