<div class="caret"></div>

<style>
  .caret {
    width: 10px;
    height: 1em;
    background-color: #e9e9f4;
    animation: blink 450ms ease-in-out infinite alternate;
  }

  @keyframes blink {
    100% {
      opacity: 0;
    }
  }
</style>
