---
import Caret from "./Caret.astro";
const { useCaret = false } = Astro.props;
---

<div id="cli-prefix-container">
  <span id="cli-prefix"> bzenky@Bruno Asano ~ </span>
  <span id="dollar-sign">$</span>
  <span id="command-input" class={useCaret ? "typeAnimation" : "default"}>
    <slot />
    {useCaret && <Caret />}
  </span>
</div>

<style>
  #cli-prefix-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1ch;
  }

  #cli-prefix {
    color: #f7f;
  }

  #dollar-sign {
    color: #f8c;
  }

  #command-input {
    display: flex;
    align-items: center;

    &.typeAnimation {
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      animation: typeAnimation 1s steps(13, end) forwards;
    }
  }

  @keyframes typeAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 13ch;
    }
  }
</style>
