<ul>
  <li>Email: bzenky@gmail.com</li>
  <li>Social links above</li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }

  li {
    color: #e9e9f4;
  }
</style>
