<ul>
  <li>
    <a
      href="https://github.com/bzenky"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/bzenky"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
  </li>
  <li>
    <a
      href="https://www.portfolio.bzenky.dev"
      target="_blank"
      rel="noopener noreferrer"
    >
      Portfolio
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/@_zenky"
      target="_blank"
      rel="noopener noreferrer"
    >
      Youtube
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }

  li {
    color: #fff;
  }

  a {
    color: #62d6e8;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #e462e8;
  }
</style>
