---
import CliPrefix from "./CliPrefix.astro";
import SocialLinks from "./SocialLinks.astro";
import Contact from "./Contact.astro";
---

<div id="container">
	<main>
		<CliPrefix useCaret={true}>
			<p>me --help</p>
		</CliPrefix>

		<SocialLinks />

		<p>
			I'm a software developer based in Brazil with over three years of
			experience building dynamic, user-friendly interfaces using modern
			technologies such as React, complemented by some back-end programming
			skills, such as Node and Ruby on Rails.
		</p>
		<p>
			I thrive in agile environments, following Scrum methodologies, and enjoy
			collaborating with multidisciplinary teams. Currently, I'm contributing to
			an international project focused on delivering innovative solutions for
			quantitative and qualitative research.
		</p>
		<p>
			With experience in both consulting firms and product-based companies, I
			bring strong problem-solving skills, teamwork, and a passion for
			innovation, shaped by diverse projects and team collaborations.
		</p>

		<CliPrefix>
			<p>contact</p>
		</CliPrefix>
		<Contact />
	</main>
</div>

<style>
	#container {
		max-width: 80ch;
		padding: 24px;
	}

	p {
		line-height: 1.6;
		color: #e9e9f4;
	}
</style>
