---
import CliPrefix from "./CliPrefix.astro";
import SocialLinks from "./SocialLinks.astro";
import Contact from "./Contact.astro";
---

<main id="container">
	<CliPrefix useCaret={true}>
		<p>me --help</p>
	</CliPrefix>

	<div class="fade-in">
		<SocialLinks />
		<p>
			I'm a software developer based in Brazil with over three years of
			experience building dynamic, user-friendly interfaces using modern
			technologies such as React, complemented by some back-end programming
			skills, such as Node and Ruby on Rails.
		</p>
		<p>
			I thrive in agile environments, following Scrum methodologies, and enjoy
			collaborating with multidisciplinary teams. Currently, I'm contributing to
			an international project focused on delivering innovative solutions for
			quantitative and qualitative research.
		</p>
		<p>
			With experience in both consulting firms and product-based companies, I
			bring strong problem-solving skills, teamwork, and a passion for
			innovation, shaped by diverse projects and team collaborations.
		</p>
		<CliPrefix>
			<p>contact</p>
		</CliPrefix>
		<Contact />
	</div>
</main>

<style>
	#container {
		max-width: 80ch;
		height: 100%;
		padding: 24px;
	}

	p {
		line-height: 1.6;
		color: #e9e9f4;
	}

	.fade-in {
		opacity: 0;
		height: 0;
		animation: fadeIn 1s 1s forwards;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
			height: 0;
		}
		100% {
			opacity: 1;
			height: 100%;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.fade-in {
			animation: none;
			opacity: 1;
		}
	}
</style>
