---
import CliPrefix from "./CliPrefix.astro";
import SocialLinks from "./SocialLinks.astro";
import Contact from "./Contact.astro";
---

<main id="container">
	<CliPrefix useCaret={true}>
		<p>me --help</p>
	</CliPrefix>

	<div class="fade-in">
		<div class="shade" />
		<SocialLinks />
		<p>
			I'm a software developer based in Brazil with over three years of
			experience building dynamic, user-friendly interfaces using modern
			technologies such as React, complemented by some back-end programming
			skills, such as Node and Ruby on Rails.
		</p>
		<p>
			I thrive in agile environments, following Scrum methodologies, and enjoy
			collaborating with multidisciplinary teams. Currently, I'm contributing to
			an international project focused on delivering innovative solutions for
			quantitative and qualitative research.
		</p>
		<p>
			My background across both consulting firms and product-driven companies has shaped strong problem-solving abilities, adaptability, and a passion for building products that truly make an impact.
		</p>
		<CliPrefix>
			<p>contact</p>
		</CliPrefix>
		<Contact />
	</div>
</main>

<style>
	#container {
		max-width: 80ch;
		height: 100%;
		padding: 24px;
		overflow: hidden;
	}

	.shade {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #211925;
		animation: fallDown 2s 2s forwards;
	}

	p {
		line-height: 1.6;
		color: #e9e9f4;
	}

	.fade-in {
		position: relative;
		overflow: hidden;
		opacity: 0;
		height: 100%;
		animation: fadeIn 2s 2s forwards;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}

	@keyframes fallDown {
		to {
			transform: translateY(100%);
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.fade-in {
			opacity: 1;
		}
	}
</style>
