<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>Bruno Asano</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html,
	body {
		padding: 0;
		margin: 0;
		background: #211925;
		font-size: 1.125rem;
		font-weight: 500;
		font-family: "JetBrains Mono", monospace;
	}

	@media screen and (max-width: 600px) {
		html,
		body {
			font-size: 1rem;
		}
	}
</style>
